.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-hero,
.home-features-card{
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.home-hero,
.home-features-card,
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-hero {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.home-content-container,
.home-features,
.home-cards-container,
.home-icon-container,
.home-text-container,
.home-heading-container,
.home-icon {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content-container,
.home-features,
.home-cards-container {
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.home-features,
.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-hero-text,
.home-text-container,
.home-heading-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-heading {
  color: #f3f2f2;
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.home-text {
  color: var(--dl-color-gray-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}

@media (max-width: 768px) {
  .home-container {
    padding: var(--dl-space-space-tripleunit);
    align-items: flex-start;
  }

  .home-hero,
  .home-features-card,
    width: 100%;
    padding: 0;
    margin-bottom: var(--dl-space-space-doubleunit);
  }

  .home-hero {
    padding-top: var(--dl-space-space-tenunits);
    padding-bottom: var(--dl-space-space-tenunits);
    background-position: top;
  }

  .home-content-container,
  .home-features,
  .home-cards-container {
   
  }


  .home-heading {
    margin-bottom: var(--dl-space-space-fourunits);
    font-size: 22px;
  }

  .home-text {
    margin-bottom: var(--dl-space-space-fourunits);
  }

}
